*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    color: darkgrey;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    width: auto;
    overflow-x: hidden;
}

.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    width: 100%;
    position: sticky;
    background-color: white;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 30px;
    width: 46px;
    background-size: 47px;
    margin: 20px;
}

.user-container {
    margin: 20px;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
}

.footer {
    width: 100%;
    background-color: lightcoral;
    text-align: center;
    padding: 30px;
    color: white;
}

.review-card {
    padding: 10px;
}

.reviews {
    display: flex;
    padding: 10px;
}

.break {
    height: 1px;
    width: 90%;
    background-color: coral;
}

button{
    background-color: green;
    border-radius: 5px;
    color: white;
    transition: all 500ms ease-in-out;
    border: none;
    cursor: pointer;
    padding: 5px;
}

button:hover{
    background-color: yellow;
    scale: 1.2;
}

.material-icons{
    color: yellow
}

.main-image{
    width: 100%;
}

.main-image figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-image figure img{
    width: 100vw;
    height: 70vh;
    margin: 0;
    overflow-x: hidden;
}